body {
   font-family: 'Poppins', sans-serif;
   /* font-size: 24px; */
}


.header {
   font-family: 'Teko', 'sans-serif';
   font-weight: 600;
   font-size: 6vw;
}

.hero-text {
   font-size: 10vw;
}

.hero-desc {
   font-family: 'Poppins', 'sans-serif';
   font-weight: 500;
   font-size: 140%;
}

.text-desc {
   font-size: 115%
}

.section-1 {
   background-color: #fec401;
}

.section-2 {
   background-color: #e91f2c;
   /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}

.section-3 {
   /* background: linear-gradient(22deg, rgba(18, 13, 97, 1) 0%, rgba(25, 121, 167, 1) 47%, rgba(37, 159, 184, 1) 100%); */
   background-color: #D91D81;
}

.section-4 {
   /* background: linear-gradient(0deg, rgba(255, 134, 0, 1) 0%, rgba(255, 190, 0, 1) 100%); */
   background-color: #D91D81;
   background-color: #735cb0;
}

.section-5 {
   background-color: #00AAEE;
}

.gambar {
   width: 80%;
   border: 4px solid #fff;
}


@media (min-width: 768px) {
   .gambar {
      width: 100%;
      border: 4px solid #fff;
   }
}

.programming-desc {
   font-size: 110%;
}

@media (min-width: 768px) {
   .programming-desc {
      font-size: 150%;
   }
}

.shadow {
   box-shadow: 9px 10px 23px -9px rgba(0, 0, 0, 0.74);
   -webkit-box-shadow: 9px 10px 23px -9px rgba(0, 0, 0, 0.74);
   -moz-box-shadow: 9px 10px 23px -9px rgba(0, 0, 0, 0.74);
}

.skew {
   transform: skew(0deg, -6deg);
}